* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #000428 10%, #004e92 100%);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
}

#calc {
    border: 1px solid black;
    border-radius: 15px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-color: orange;
    box-shadow: 5px 5px 5px black;
}

label {
    font-size: 2.2rem;
    font-weight: bold;
}

input {
    width: 50%;
    height: 40px;
    background-color: gray;
    box-shadow: 4px 4px 4px black;
}

input:focus {
    background-color: white;
}


button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    background-color: crimson;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

button:hover {
    background-color: darkgreen;
}

#resultado {
    margin-top: 20px;
    padding: 10px 0;
    /* background-color: coral; */
    color: white;
    font-size: 2.5rem;

}

@media (max-width: 768px) {
    #calc {
        width: 95%;
        font-size: 1.2rem;
    }

    #resultado {
        font-size: 1.8rem;
    }
}